server {
    listen $PORT default_server;

    root /usr/share/nginx/html;

    location / {
        try_files /$uri /$uri.html /index.html;
    }

    location /api {
        proxy_pass https://obb-server.herokuapp.com/api;
    }
}