server {
    listen $PORT default_server;

    location / {
        root   /usr/share/nginx/html;
        index  index.html index.htm;
        try_files $uri $uri/ /index.html;
    }

    location /api {
        proxy_pass https://obb-server.herokuapp.com/api;
    }
}