.headerContainer {
    border-bottom: slategrey 1px solid;
    padding: 8px 2.625rem;
}

.headerContent {
    margin-left: auto;
    margin-right: auto;
    max-width: 48rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 42px;
}