.postComponent {

}

.postComponent img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.postComponent a {
    text-decoration: none;
}

.postComponent a:link {
    color: #6696bd;
}

.postComponent a:visited {
    color: #6696bd;
}

.postComponent a:hover {
    color: #6696bd;
}

.postComponent a:active {
    color: #48789F;
}