.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.imageContainer {
    max-width: 150px;
    min-width: 150px;
    height: 150px;
    margin: 4px;
    border-radius: 20px;
    text-align: center;
}

.imageContainer:hover {
    background-color: #555555;
}

.imageContainer > img {
    max-width: 150px;
    max-height: 150px;
}

.bordered {
    border: dashed white 1px
}

.borderedImages {
    border-radius: 20px;
    border: 1px solid #6897BB;
}

.uploadButton {
    position: relative;
    overflow: hidden;
    height: 150px;
    width: 150px;
}

.uploadButton > img {
    width: 80px;
    height: 80px;
    margin-top: 23px;
}

.uploadButton input[type=file] {
    font-size: 150px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.autoOverflow {
    overflow-x: auto;
}

.imageWithHover > div {
    display: none;
}

.imageWithHover:hover > img {
    display: none;
}

.imageWithHover:hover > div {
    display: block;
}

.imageHoverPadding {
    padding-top: 55px
}